<!DOCTYPE html>
<html>
  <head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../styles/styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Almendra+SC|Bad+Script|Carter+One|Creepster|Yatra+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Almendra+SC|Bad+Script|Carter+One|Creepster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Almendra+SC|Bad+Script|Carter+One|Creepster|IM+Fell+English:400i|Yatra+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

    <title>Astrology App</title>
  </head>
  
  <body>
  
    <div class="container">

      
      {{{body}}}
     


      <br><br>
      <!-- begains chatApp here-->

      <div class="container">
    <div id="userFormArea" class="row">
      <div class="col-md-12">
        <form id="userForm">
          <div class="form-group">
            <label>Enter Username</label>
            <input class="form-control" id="username"/>
            <br />
            <input type="submit" class="btn btn-primary" value="Login"/>
          </div>
        </form>
      </div>
    </div>
    <div id="messageArea" class="row">
      <div class="col-md-4">
        <div class="well">
          <h3>Online Users</h3>
          <ul class="list-group" id="users"></ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="chat" id="chat"></div>
        <form id="messageForm">
          <div class="form-group">
            <label>Enter chat here</label>
            <textarea class="form-control" id="message"></textarea>
            <br />
            <input type="submit" class="btn btn-primary" value="Send Message"/>
          </div>
        </form>
      </div>
    </div>

    </div>
    <script>
      // creating variables.
      $(function(){
        var socket = io.connect();
        var $messageForm = $('#messageForm');
        var $message = $('#message');
        var $chat = $('#chat');
        var $messageArea = $('#messageArea');
        var $userFormArea = $('#userFormArea');
        var $userForm = $('#userForm');
        var $users = $('#users');
        var $username = $('#username');

        // capturing send messages and clearing the message on chat area.
        $messageForm.submit(function(e){
          e.preventDefault();
          socket.emit('send message', $message.val());
          $message.val('');
        });

        // capturing message data in the div.
        socket.on('new message', function(data){
          $chat.append('<div class="well"><strong>' +data.user+ '</strong>: ' +data.msg+ '</div>')
        });
        
        // user form submission function.
        $userForm.submit(function(e){
          e.preventDefault();
          socket.emit('new user', $username.val(), function(data){
            if(data){
              $userFormArea.hide();
              $messageArea.show();
            }
          });
          $username.val('');
        });

        socket.on('get users', function(data){
          var html = '';
          for(i = 0; i < data.length; i++){
            html += '<li class="list-group-item">' +data[i]+ '</li>';
          }
          $users.html(html);
        });
      });
    </script>

    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Link in Local JavaScript (for sound effects) -->
    <script src="/assets/javascript/burger_sounds.js"></script>

  </body>
</html>