#jumbo {
    background-image: url("./images/night-sky.jpg");
    background-repeat: no-repeat;
    padding: 100px;
    color: lightgreen;
}
    body{
      margin-top:30px;

    }
    #messageArea{
      display:none;
    }
  